---
layout: anotte/tags
title: Tags
permalink: /tags/
---

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor
%}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

<section id="tags">
    <!--cycles through tag list and creates subheader for each tag name...-->
    {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
    <div class="archive-titled">
        <h1 class="entry-title" id="{{ this_word | cgi_escape }}">{{ this_word }}</h2>
    </div>
    <!--  lists all posts corresponding to specific tag...-->
    {% for post in site.tags[this_word] %}{% if post.title != null %}

    <article
    class="blog-item-holder animate post type-post format-standard show-it">
    <div class="entry-holder animate show-it">
        <div class="entry-info">
            <div class="entry-date published">{{ post.date | date: "%b %-d, %Y" }}</div>
        </div>
        <h2 class="entry-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
    </div>
    <div class="post-thumbnail">
        <div class="blog-featured-image-holder" style="background-image: url({{ "/assets/img/" | prepend: site.baseurl | append : post.image}});"></div>
    </div>
    </article>
    {% endif %}{% endfor %}
    {% endunless %}{% endfor %}

</section>