<!DOCTYPE html>

<html lang="en">

{% include anotte/head.html %}

<body class="post-template-default single single-post postid-25749 single-format-standard chrome windows">

    <div class="site-wrapper">
        <div class="doc-loader">
        </div>
    
        {% include anotte/sidebar.html %}
    
        <div id="content" class="site-content all-loaded">        
            {{ content }}
        </div>

        {%  include anotte/pager.html  %}
    
      </div>
    
      {% include anotte/foot.html %}

</body>

</html>