<!DOCTYPE html>

<html lang="en">

{% include anotte/head.html %}

<body class="home blog wait-preloader chrome">

    <div class="site-wrapper">
        {% include anotte/sidebar.html %}

        <div id="content" class="site-content">
            <div class="content-right">

                <div class="blog-holder">

                    {{ content }}

                    <div class="clear"></div>
                </div>


            </div>

        </div>
    </div>

    {% include anotte/foot.html %}

</body>

</html>