---
layout: anotte/blog
---

<div
    class="portfolio-item-wrapper portfolio has-post-thumbnail">
    <div class="portfolio-content center-relative content-1170">
        <p>
        <div class="fluid-width-video-wrapper" style="padding-top: 56.25%;"><iframe loading="lazy" width="1904" height="808"
                src="https://www.youtube.com/embed/{{ page.youtube-video-id }}" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe></div>
        </p>
        <p>&nbsp;</p>
        <div class="one_half ">{{ page.firstcolumn }}</div>
        <div class="one_half last ">{{ page.secondcolumn }}</div>
        <div class="clear"></div>
    </div>
</div>