<script type="text/javascript" src="{{ "/assets/js/jquery.smartmenus.min.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/jquery.fitvids.js" | relative_url }}"></script>
<script type="text/javascript" src="{{ "/assets/js/tipper.js" | relative_url }} "></script>
<script type="text/javascript" src="{{ "/assets/js/jquery.sticky-kit.min.js" | relative_url }}"></script>
<!--- anotte main js  -->
<script type="text/javascript" src="{{ "/assets/js/main.js" | relative_url }}"></script>