<head>
    <meta charset="utf-8">
	<title>{% if page.title %}{{site.title}} | {{page.title}}{% else %}{{site.title}}{% endif %}</title>
    <style type="text/css">
        .single .site-wrapper .nav-links>a:hover {
            background-color: #eeee22;
        }

        .site-wrapper .header-logo img {
            width: 0;
            height: 0;
        }
    </style>
    <meta name='robots' content='max-image-preview:large' />
    <meta name="description" content="{{ page.description }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- <link rel='stylesheet' id='autoptimize' href='{{ "/assets/css/autoptimize.css" | relative_url }}' type='text/css' media='all' /> -->
    <link rel='stylesheet' id='style-css' href='{{"/assets/css/style.css" | relative_url }}' type='text/css' media='all' />
    <link rel='stylesheet' id='anotte-clear-style-css' href='{{ "/assets/css/clear.css" | relative_url }}' type='text/css' media='all' />
    <link rel='stylesheet' id='anotte-common-style-css' href='{{ "/assets/css/common.css" | relative_url }}' type='text/css' media='all' />
    <link rel='stylesheet' id='sm-cleen-css' href='{{ "/assets/css/sm-clean.css" | relative_url }}' type='text/css' media='all' />
    <link rel='stylesheet' id='anotte-main-theme-style-css' href='{{ "/assets/css/styles.css" | relative_url }}' type='text/css' media='all' />
    <!-- <link rel='stylesheet' href='{{ "/assets/css/pagination.css" | relative_url }}' type='text/css' media='all' /> -->
    <link rel='stylesheet' href='{{ "/assets/css/nav-style.css" | relative_url }}' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css' href='{{ "/assets/css/main.css" | relative_url }}' type='text/css' media='all' />
    <script type='text/javascript' src='{{ "/assets/js/jquery-3.6.0.min.js" | relative_url }}' id='jquery-core-js'></script>
    <script type='text/javascript' src='{{ "/assets/js/jquery-migrate-1.4.1.min.js" | relative_url }}' id='jquery-migrate-js'></script> <!-- used for mouse over image show -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&family=Playfair+Display:ital@0;1&family=Poppins:ital@0;1&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"
        integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
        crossorigin="anonymous"></script>
    {% include anotte/analytics.html %}
</head>