<!-- Page Content Holder -->

<div id="content" class="site-content all-loaded">
    <div
        class="content-right post format-standard has-post-thumbnail">

        <!-- <div class="archive-title">
            <h1 class="entry-title">Developer Relations</h1>
        </div> -->

        <div class="blog-holder">

            {% include anotte/paginator.html %}

            {% include anotte/pagination.html %}

            <div class="clear"></div>
        </div>
        <!-- End Page Content Holder -->
        <!--Footer-->

    </div>

</div>