<div class="pgntn-page-pagination">
    <div class="pgntn-page-pagination-block">
        <span aria-current="page" class="page-numbers current">1</span>
        <a rel="nofollow" class="page-numbers" href="#/page/2/">2</a>
        <a rel="nofollow" class="page-numbers" href="#/page/3/">3</a>
        <span class="page-numbers dots">…</span>
        <a rel="nofollow" class="page-numbers" href="#/page/110/">110</a>
        <a rel="nofollow" class="next page-numbers" href="#/2/">Next »</a>							
    </div>
    <div class="clear"></div>
</div>

<div class="clear"></div>