<!-- Left Part Sidebar-->
<div class="menu-left-part no-sidebar">

    <nav id="header-main-menu" class="big-menu">
        <ul id="menu-menu" class="main-menu sm sm-clean">
            <li id="menu-item-1" class="menu-item">
                <a href="{{site.baseurl}}">home</a>
            </li>
            <li id="menu-item-2"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-167"><a
                    href="#" class="has-submenu" id="sm-1619287343615923-1" aria-haspopup="true"
                    aria-controls="sm-1619287343615923-2" aria-expanded="false"><span class="sub-arrow">+</span><span
                        class="sub-arrow">+</span>archive</a>
                <ul class="sub-menu" id="sm-1619287343615923-2" role="group" aria-hidden="false"
                    aria-labelledby="sm-1619287343615923-1">
                    <li id="menu-item-168"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-168">
                        <a href="{{ "tags" | relative_url}}">tags</a></li>
                    <li id="menu-item-221"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-221"><a
                            href="#">categories</a></li>
                </ul>
            </li>

            <li id="menu-item-3" class="menu-item">
                <a href="{{ "about" | relative_url}}">about</a>
            </li>
            <li id="menu-item-4" class="menu-item">
                <a href="{{ "contact" | relative_url}}">contact</a>
            </li>
        </ul>
        <form role="search" method="get" class="search-form" action="#/">
            <label>
                <input autocomplete="off" type="search" class="search-field" placeholder="search" value="" name="s"
                    title="Search for:">
            </label>
        </form>
    </nav>

    <div class="menu-right-text">
        <p class="menu-text-title">HELLO, I'M {{ site.firstname | upcase }}!</p>
        <div class="menu-text">{{ site.greetings }}. click <a href="{{ "about" | relative_url}}">here</a> if you want
            to know more.</div>
        <br>
        <br>
        <a class="socail-text" href="https://twitter.com/" target="_blank" rel="noopener"><span
                class="fab fa-twitter"></span></a>
        <a class="socail-text" href="https://www.linkedin.com/" target="_blank" rel="noopener"><span
                class="fab fa-linkedin-in"></span></a>
        <a class="socail-text" href="https://github.com/" target="_blank" rel="noopener"><span
                class="fab fa-github"></span></a>
        <a class="socail-text" href="https://www.youtube.com/" target="_blank" rel="noopener"><span
                class="fab fa-youtube"></span></a>
        <a class="socail-text" href="https://www.instagram.com/" target="_blank" rel="noopener"><span
                class="fab fa-instagram"></span></a>
    </div>

</div>
<!-- Right Part Sidebar -->
<div class="menu-right-part">
    <div class="toggle-holder">
        <div id="toggle" class="all-loaded">
            <div class="menu-line"></div>
        </div>
    </div>

</div>