<!-- Left Part Sidebar-->
<div class="menu-left-part no-sidebar">

    <nav id="header-main-menu" class="big-menu">
        <ul id="menu-menu" class="main-menu sm sm-clean" data-smartmenus-id="16191052643642522">
            <li id="menu-item-4497"
                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-4497">
                <a href="/" class="current">home</a></li>
            <li id="menu-item-20157" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20157"><a
                    href="/speaking/">speaking</a></li>
            <li id="menu-item-4498" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4498"><a
                    href="/about/">about</a></li>
            <li id="menu-item-20457" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20457"><a
                    href="mailto:someone@gmail.com">contact</a></li>
        </ul>
        <form role="search" method="get" class="search-form" action="#/">
            <label>
                <input autocomplete="off" type="search" class="search-field" placeholder="search" value="" name="s"
                    title="Search for:">
            </label>
        </form>
    </nav>

    <div class="menu-right-text">
        <p class="menu-text-title">HELLO, I'M FRED!</p>
        <div class="menu-text">welcome in my head </div>
        <br>
        <br>
        <a class="socail-text" href="https://twitter.com/" target="_blank" rel="noopener"><span
                class="fab fa-twitter"></span></a>
        <a class="socail-text" href="https://www.linkedin.com/" target="_blank" rel="noopener"><span
                class="fab fa-linkedin-in"></span></a>
        <a class="socail-text" href="https://github.com/" target="_blank" rel="noopener"><span
                class="fab fa-github"></span></a>
        <a class="socail-text" href="https://www.youtube.com/" target="_blank" rel="noopener"><span
                class="fab fa-youtube"></span></a>
        <a class="socail-text" href="https://www.instagram.com/" target="_blank" rel="noopener"><span
                class="fab fa-instagram"></span></a>
    </div>

</div>
<!-- Right Part Sidebar -->
<div class="menu-right-part">
    <div class="toggle-holder">
        <div id="toggle" class="all-loaded">
            <div class="menu-line"></div>
        </div>
    </div>

</div>