--- 
---
/*! Copyright 2021 Darryl Malcaba */

/* Color Variables */
$primary-textcolor: #000;
$contrast-color: #b6df1e;
$primary-link-color: #7f7f7f;
$primary-link-hover-color: #acacac;

$primary-font-family: 'Poppins', sans-serif;


%header-shared {
    padding: 20px 0;
    color: $primary-textcolor;
}

h1 {
    @extend %header-shared;
    font-size: 38px;
    line-height: 38px;
}

h2 {
    @extend %header-shared;
    font-size: 34px;
    line-height: 34px;
}

h3 {
    @extend %header-shared;
    font-size: 32px;
    line-height: 32px;
}

h4 {
    @extend %header-shared;
    font-size: 30px;
}

h5 {
    @extend %header-shared;
    font-size: 28px;
}

h6 {
    @extend %header-shared;
    font-size: 26px;
}

body {
    font-family: $primary-font-family;
    color: $primary-textcolor;
    font-weight: 400;
    background-color: #fff;
    overflow-x: hidden;

    p {
        margin-bottom: 16px;
    }

    a {
        text-decoration: none;
        color: $primary-link-color;
        transition: color .2s linear,
            background-color .2s linear,
            border-color .2s linear;
        &:hover {
            color: $primary-link-hover-color;
        }
    }
}

.center-relative {
    margin-left: auto;
    margin-right: auto;
}

.content-1170 {
    width: 1170px;
    max-width: 80%;
}

.info-code-title {
    font-size: 10px;
    color: $primary-textcolor;
    letter-spacing: 2px;
    margin-bottom: 0;
    line-height: 15px;
}

.medium-text {
    font-size: 22px;
    line-height: 40px;
    color: #939393;
}

.single {
    .nav-links>a {
        background-color: $contrast-color;
        padding: 25px 35px;
        display: block;
        margin: 0;
        @media screen and (max-width: 1020px) {
            display: inline-block;
            margin: 0 10px;
            padding: 15px 25px;
        }
    }
}

.single-post {
    .entry-content {
        font-size: 18px;
        line-height: 30px;
        color: $primary-textcolor;
        width: 680px; // from autoptimize
        float: left;
        margin: 0 auto;
        max-width: 100%;
    }

    .post-info-wrapper {

        font-size: 15px;
        color: #939393;
        width: 150px;
        margin-right: 45px;
        float: left;
        clear: left;
        min-width: 150px;
        min-height: 1px;
        margin-top: 9px;

        @media screen and (max-width: 1360px) {
            float: none;
            width: 100%;
            text-align: center;
            margin-bottom: 50px;
        }

        a {
            color: $primary-textcolor;
        }

        .text-holder {
            font-size: 12px;
            color: #a0a0a0;
            letter-spacing: 3px;
            margin-bottom: 0;
            line-height: 15px;
            font-weight: 500;
        }

        .entry-info {
            position: relative;

            @media screen and (max-width: 1360px) {
                position: relative !important;
                top: 0 !important;
            }
        }
    }
}

.site-content {
    position: relative;
    margin-top: 75px;
}

.site-wrapper {
    img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        display: block;
        margin: auto;
    }
}

.tags-holder {
    a {
        //color: #989899;
        color: #fff;
        border: 1px solid $contrast-color;
        background-color: $contrast-color;
        text-decoration: none;
        margin-right: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: inline-block;
        padding: 5px 17px 5px 20px;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 700;
        transition: all .3s ease;
        letter-spacing: 3px;
    }
}

.blog-item-holder {
    h2.entry-title {
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        padding: 0;
        word-wrap: break-word;
    }

    .entry-info {
        font-size: 10px;
        margin-right: 20px;
        min-width: 150px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-left: 20px;
        font-weight: 700;
        color: #5a5a5a;
    }
}